body{
    background: rgba(76, 76, 117, 0.268);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#welcome, #game-page{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    background: rgba(101, 101, 156, 0.203);
    width: 350px;
    min-height: 500px;
    box-shadow: 0px 0px 15px;
    border-radius: 5px;
}
section{
    display: flex;
    flex-direction: column;
    
}
#welcome h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(73, 26, 85, 0.767);
}
#instruction{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;   
}
button{
    width: 110px;
    height: 40px;
    font-size: larger;
    color: rgba(240, 240, 247, 0.678);
    border-radius: 5px;
    border: 0;
    background-color: rgba(73, 26, 85, 0.767);
    text-align: center;

}
button:hover{
    background-color: rgba(73, 26, 85, 0.322);
    color: black;
}
button:disabled {
    color: inherit;
    pointer-events: none;
    cursor: not-allowed;
}
.click:focus{
    background-color: black;
    outline: none;
}
#header{
    display: flex;
    justify-content: space-between;
}
section div h1{
    background-color: rgba(240, 240, 247, 0.488);
    color: rgb(108, 35, 127);;
    min-width: 160px;
    text-align: center;
    border-radius: 30px;
}
#options{
    display: flex;
    flex-direction: column;
}
#last-page{
    display: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    background: rgba(101, 101, 156, 0.203);
    width: 350px;
    min-height: 500px;
    box-shadow: 0px 0px 15px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
